.customers {
  scroll-margin-top: 110px;
  padding-bottom: 24px;
  &__subtitle {
    position: relative;
    padding-left: 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    margin-bottom: 0;
    &:before {
      content: "";
      position: absolute;
      width: 40px;
      height: 1px;
      background-color: #000;
      left: 0;
      top: 50%;
      transform: translateY(-100%);
    }
  }
  &__title {
    padding: 24px 0;
    display: grid;
    grid-template-columns: minmax(auto, 430px) minmax(auto, 540px);
    justify-content: space-between;
    h2 {
      margin: 0;
      font-size: 32px;
      line-height: 40px;
      font-weight: 400;
    }
    p {
      margin: 0;
      font-size: 16px;
      line-height: 22.4px;
      font-weight: 400;
    }
  }
  &__list {
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
  }
  &__item {
    display: grid;
    grid-template-rows: minmax(auto, 68px) auto;
    row-gap: 48px;
    padding: 24px;
    background-color: #f5f7fa;
    strong {
      font-size: 24px;
      font-weight: 400;
      line-height: 33.6px;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 22.4px;
      margin: 0;
    }
  }
}
