.form {
  scroll-margin-top: 40px;
  background-color: #f5f7fa;
  padding: 60px 0;
  &__wrapper {
    width: 900px;
  }
  &__title {
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
  }
  &__text {
    margin-top: 16px;
    font-size: 22px;
    font-weight: 400;
    line-height: 30.8px;
  }
  &__form {
    margin-top: 30px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    &_btn {
      display: grid;
      grid-template-columns: auto 540px;
      button {
        grid-column: 2/3;
        width: 242px;
      }
    }
  }
  input,
  textarea {
    padding: 12px 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.3px;
    width: 540px;
  }
  textarea {
    padding: 12px 8px;
  }
  label {
    font-size: 22px;
    font-weight: 400;
    line-height: 30.8px;
    margin: 0;
  }
  &__btn {
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    background-color: #009648;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
}
