@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}

@media (max-width: 1439px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .header {
    &__wrapper {
      justify-content: space-between;
      .hamburger {
        cursor: pointer;
        height: 21px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div {
          width: 30px;
          height: 3px;
          background: #fff;
        }
      }
    }
    &__menu {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .header {
    background: #fff;
    padding: 10px 0;
    &__wrapper {
      .hamburger {
        div {
          background: #000;
        }
      }
    }
    &__logo {
      font-size: 18px;
      line-height: 16px;
      a {
        color: #000;
      }
      span {
        &:first-child {
          font-size: 29px;
          line-height: 26px;
        }
      }
    }
    &__phone {
      a {
        color: #000;
      }
    }
  }
  .promo {
    margin-top: 62px;
    &__img {
      img {
        height: calc(100vh - 240px);
      }
    }

    &__title {
      font-size: 32px;
      line-height: 32px;
      letter-spacing: -1.28px;
    }
  }
  .customers {
    &__title {
      grid-template-columns: 1fr;
      row-gap: 20px;
      h2 {
        font-size: 28px;
        line-height: 35px;
      }
    }
    &__list {
      grid-template-columns: 1fr;
      row-gap: 24px;
    }
    &__item {
      padding: 12px;
      row-gap: 24px;
    }
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 12px;
  }
  .customers {
    &__title {
      h2 {
        font-size: 21px;
        line-height: 26.25px;
      }
    }
  }
}

@media (max-width: 375px) {
  .header {
    &__phone {
      a {
        font-size: 16px;
      }
    }
  }
}
